{% extends 'homeapp/base.html' %} {% block body %} {% load static %}

<h1 class="text-green-600 font-bold pb-10 px-5  pt-5 ">Contact Us</h1>


<div class="flex">


    <div class="  px-3 shadow-lg shadow-green-500/50 pb-5 w-6/12 ">
        <img src="{% static 'homeapp/images/ceo.svg' %}" alt="" class="px-36 h-10 w-10">
    </div>
    <div class="  px-3 shadow-lg shadow-green-500/50 pb-5 w-6/12 ">
        <h1 class="px-36">CTO</h1>
    </div>

    <div class=" px-3 shadow-lg shadow-green-500/50 pb-5 w-6/12 ">
        <h1 class="">CMO</h1>
    </div>

</div>

{% endblock %}